@import url('https://fonts.googleleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


/******************************** <!--header-section--> ********************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo span {
  color: #ff0157;
}

header .navigation {
  position: relative;
  display: flex;
  align-items: center;
}

header .navigation li {
  list-style: none;
  padding: 0px 30px;   

}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

/*the sticky class to the header when you reach its scroll position*/

header .sticky .navigation li a {
  color: #111;
}

header .navigation li a:hover {
  color: #e66c09;
}

header.sticky {
   background: #F8F8FF;
   padding: 10px 100px;
   box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header.sticky .logo {
   color: #111;
}

header.sticky .navigation li a {
   color: #111;
}

header.sticky .navigation li img {
    background-color:black;
    border-radius:50%;
}

header.sticky .navigation li a:hover {
    color: #ff0157;
}


/***************************** <!--main-menu--> *********************************/

.banner {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.text{
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 5s forwards ;
}

/*Specifies the name of the @keyframes at-rule describing the animations keyframes.*/
@keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#myVideo{  
  width: 100%;
  height: 100vh; 
  object-fit: cover;
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.text{
  color: rgb(255, 255, 255);
  font-family: Trebuchet MS;
  font-weight: bold;
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text h1 {
  font-size: 60px;
  margin-top: 20%;
  line-height: 200%; 
}

.text h2 
{ 
  font-size: 30px; 
}

/************************* <!--main-product--> ***************************/
section {
    padding: 100px;
    display: flex;
    align-items: center;
  
}

.row {
    display: grid;
    grid-template-columns: 60% 1fr;
    width:100%;
   
}

.row .col50 {
    position: relative; 
}

.row .col50 .imgBX {
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
}

.row .col50 .imgBX img {
    top: 0;
    left: 0;
    min-height: 400px;
    object-fit: cover;
}

.img {
    border: 2px solid #333;
    border-radius: 12px;
    width:80%;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #bdb7b7;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.radio {
    margin-left: 210PX;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 3% 2px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#c1{
  background-color: rgba(0, 0, 0, 0.959);
}
#c2{
  background-color: rgb(255, 230, 0);
}
#c3{
  background-color: rgba(255, 255, 255, 0.959);
  border: 1px solid #111;
}

.active, .dot:hover {
  background-color: #e2dddd;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

Fading animation 
 .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/**Webkit refers to the browser rendering engine used for Apple's Safari and Google's Chrome browsers. */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.col50 li{
    list-style:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100%;
    line-height:20px;
}

.button {
    background-color: #33568c;
    border: none;
    border-radius:12px;
    color: white;
    width: 220px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#6284b7;
}

.line-height{
    line-height: 50px;
}

.line-height h2 {
    line-height: 70px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Zen Antique', serif;
    color:tomato;
}


/************************main-Review**********************************/

.testimonials {
    background-image:url('test.png');
    background-size: cover;
    display:block;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt {
    color: rgb(255, 255, 255);
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.white .titleText {
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
    color: #fff;
    font-size:50px;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    
}

.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 3px 0px #b2a98f, 
                0px 14px 10px rgba(0,0,0,0.15), 
                0px 24px 2px rgba(0,0,0,0.1), 
                0px 34px 30px rgba(0,0,0,0.1);

}

.testimonials .content .box .imgBX {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .content .box .imgBX img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.testimonials .content .box .txt {
     text-align: center;
}

.testimonials .content .box .txt p {
     color: #666;
     font-style: italic
}

.testimonials .content .box .txt h3 {
     margin-top: 20px;
     color: #111;
     font-size: 1em;
     color: #ff0157;
     font-weight: 600;
}

/*************************main-content-visible********************/

.contact {
    background-image: url('wp1.png');
    width:100%;
    background-size: cover;
    display:block;
}

.contactForm {
    padding: 50px 50px;
    background: #a38d80;
    box-shadow: 0 15px 50px #666666ba ;
    max-width: 700px;
    margin-top: 50px;
}

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    border-radius: 12px;
    padding: 10px;
    color: #111; 
    outline: none;
    font-size: 16px;
    font: 300 1em/1.35rem "proxima-nova", sans-serif;
    font-weight: 300;
    resize: none;
}

input[type=text], textarea {
    height: 60px; 
}

textarea {
    width: 100%;
    height: 150px;
}

.black .titleText {
    text-shadow: 0px 3px 0px #b2a98f, 
                 0px 14px 10px rgba(0,0,0,0.15), 
                 0px 24px 2px rgba(0,0,0,0.1), 
                 0px 34px 30px rgba(0,0,0,0.1);
    color: #111;
    font-size: 50px;
}

textarea::-webkit-scrollbar {
    width: 12px;
    line-height: 2.3;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #4a7cce;
}

.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #f5b997;
    display: flex;
    justify-content:center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: 500;
    height:50px;
    width:160px;
    text-align:center;
    border: 10px;
    cursor: pointer;
    border-radius:12px;
}
input[type="submit"]:hover 

{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #6284b7;
}

/**************************** main-footer ****************************/

footer {
    background: linear-gradient( #6284b7, #c0d0e9);
}

.footer_top {
    display: flex;
    justify-content:space-around;
    padding: 2.5em 0;
}

.footer_top li {
    line-height: 2rem;
}

.footer_top li a:hover {
    color: #f5b997;
}

footer ul {
    list-style: none;
    font-size: 20px;
    margin-left: 3%;
}

.list_title {
    color: white;
    font-weight: 400;
}

.afoter {
    text-decoration: none;
    color: #272626;
    font-family: Arial, Helvetica, sans-serif;
}
.list_title {
    color: white;
    font-weight: 400;
}

.list_icons i {
    color: #f39b6b;
    margin: 5px;
    font-size: 20px;
}

.footer_top ul li a img {
    position: relative;
    text-align: center;
    line-height: 63px;
    border-radius: 50%;
    font-size: 60px;
    color: #666;
    transition: .5s;
}

.footer_top ul li a img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

/* .footer_top ul li a img:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
} */

.footer_top ul li a img:hover {
    color: rgb(245 185 151 / 0.57);
    box-shadow: 0 0 5px #923d0b;
    text-shadow: 0 0 5px #f5b997;
}
hr.style-three {
    height: 10px;
    border-style: solid;
    border-color: rgb(187, 83, 83);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.style-three:before {
   display: block;
   content: "";
   height: 10px;
   border-style: solid;
   border-color: rgb(187, 83, 83);
   border-width: 0 0 1px 0;
   border-radius: 20px;
}


/*****************footer copyright*********************/

.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

.copyrightText p {
    color: #333;
}

.copyrightText a {
   color: #ff0157;
   font-weight: 500;
   text-decoration: none;
}

/*-----------------------------------------------------------<<<<<Mobile>>>>>---------------------------------------------------------------------*/
@media screen and (max-width:600px) {
        header,
        header.sticky {
            padding: 10px 20px;
        }

        header .navigation {
            display: none;
        }

        header .navigation.active {
            width: 100%;
            height: calc(100% 68px);
            position: fixed;
            top: 68px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #fff;
        }

        header .navigation li {
            margin-left: 0;
        }

        header .navigation li a {
            color: #111;
            font-size: 1.6em;
            line-height:200%;
        }

        header .navigation li a:hover {
            color:tomato;
        }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url('menu - Copie.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

        .menuToggle.active {
           
            background-image: url('close (1).png');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center;
        }

       /* .menuToggle.active:hover {
            background-color:rgb(255 255 255 / 0.00); 
        }
*/
        header .sticky .menuToggle {
            filter: invert(1);
        }

        section {
            padding: 20px;
        }

        .banner .text h2 h1{
            font-size: 3em;
            color: #fff;
        }

        .row{
            display: block;
        }

        .radio{
            margin-left: 40%;
        }
    
        .row .col50 {
            position: relative;
            width: 100%;
        }

        .row .col50 .imgBX {
                
            margin-top: 20px;
        }

        .menu .content {
            margin-top: 20px;
        }

        .menu .content .box {
            margin: 10px;
        }

        .menu .content .box .imgBX {
            height: 260px;
        }

        .row .col50 .imgBX img {
            top: 0;
            left: 0;
            width:100%;
            min-height: 400px;
            object-fit: cover;
        }

        .button{
            width:100%;
        }

        .title {
            text-align: center;
        }

        .titleText {
            font-size: 1.8em;
            line-height: 1.5em;
            margin-bottom: 15px;
            font-weight: 300;
        }

        .testimonials .contact .box {
            margin: 10px;
            padding: 20px
        }

        .contactForm {
            padding: 35px 40px;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .inputBox input[type="submit"] {
            padding: 0 50%;
        }

        .footer_top {
            display: flex;
            flex-direction: column;
            padding-bottom: 7rem;
            padding-top: 7rem;
        }

        #myVideo {
            position: absolute;
        }

}

@media(max-width:480px) {
    .banner .content .text h2 h1{
        font-size: 2em;
        color: #fff;
    }
}




